{% extends "admin/admin-base.html" %}

{% block content %}

  <div class="row">
    <div class="col-lg-2 col-lg-offset-5">
      <hr class="marginbot-100">
    </div>
  </div>


<section class="match-goal">
  <form class="container">
    <div class="row">

      <!-- TEAM A -->
      <div class="col-xs-5">
        <h3 class="team">{{match.team_a.name}}</h3>
        <ul>
          {% for player in match.team_a.player_set.all %}
          <li class="team-player" data-player={{player.id}} data-team={{match.team_a.id}} data-match={{match.id}}>
            <div class="btn btn-primary btn-block">
              {{player.surname}} {{player.name}}
            </div>
            <br />
          </li>
          {% endfor %}
        </ul>
      </div>


      <!-- TIMER & info -->
      <div class="col-xs-2">
        <div id="button_start" class="btn btn-primary">
          Fischio d'inizio
        </div>
        <div id="button_end" class="btn btn-primary">
          Game Over
        </div>
        <div id="match_timer"></div>


        <h1 class="team-score">{{match.team_a_score}} - {{match.team_b_score}}</h1>


      </div>


      <!-- TEAM B -->
      <div class="col-xs-5">
        <h3 class="team">{{match.team_b.name}}</h3>
        <ul>
          {% for player in match.team_b.player_set.all %}
          <li class="team-player" data-player={{player.id}} data-team={{match.team_b.id}} data-match={{match.id}}>
            <div class="btn btn-primary btn-block">
              {{player.surname}} {{player.name}}
            </div>
            <br />
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>
    {% csrf_token %}
  </form>
</section>
{% endblock %}
