{% extends "admin/admin-base.html" %}
{% load filters %}
{% load static %}

{% block custom_scripts %}
<script src="{% static "js/beach_volley.js" %}"></script>
{% endblock %}

{% block content %}

    <section>
        <form class="container">
            <div class="row">
                <div class="col-xs-5 text-center match-col">
                    <div class="team-player btn btn-primary btn-block"
                         data-team={{ match.team_a.id }} data-match={{ match.id }}>
                        <h4>{{ match.team_a.name }}</h4>
                    </div>
                </div>

                <div class="col-xs-2 text-center match-col">
                    <div id="beach_button_set1" class="btn btn-block btn-primary">Set 1</div>
                    <h4 class="team-score" id="team-score-set1">
                        {{ match.team_a_set_1 }} - {{ match.team_b_set_1 }}
                    </h4>

                    <div id="beach_button_set2" class="btn btn-block btn-primary">Set 2</div>
                    <h4 class="team-score" id="team-score-set2">
                        {{ match.team_a_set_2 }} - {{ match.team_b_set_2 }}
                    </h4>

                    <div id="beach_button_set3" class="btn btn-block btn-primary">Set 3</div>
                    <h4 class="team-score" id="team-score-set3">
                        {{ match.team_a_set_3 }} - {{ match.team_b_set_3 }}
                    </h4>
                    <div id="beach_button_reset" class="btn btn-danger btn-block">Reset</div>
                    <div
                            id="beach_match_timer"
                            class="match-timer"
                            data-current-set={{ current_set }}
                            data-match-id={{ match.id }}
                    >
                        <h1></h1>
                    </div>

                </div>


                <div class="col-xs-5 text-center match-col">
                    <div class="team-player btn btn-primary btn-block"
                         data-team={{ match.team_b.id }} data-match={{ match.id }}>
                        <h4>{{ match.team_b.name }}</h4>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
