.navbar-brand > h1 {
    display: inline-block;
    vertical-align: sub;
}

.navbar-brand > img {
    height: 100%;
    display: inline-block;
}

.slogan h3{
    color: white;
    font-size: 30px;
}

.programma p {
    font-size: 24px;
    text-align: center;
}

.team-img, .team-name{
    float: left;
    padding: 10px;
}
.team-img img {
  max-width: 300px;
  height: 100px;
}
.team-name h1{
    font-size: 21px;
    color: #24252f;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.team-name p{
    font-size: 14px;
    color: #7a7b81;
    margin: 0;
}
@media screen and (max-width:991px) {
	.team-date {
		display: inline-block;
		width: 100%;
	}
	.white-match .col-md-4,
	.black-match .col-md-4	{
		display: inline-block;
		width: 100%;
	}

	.white-match .team-img,
	.black-match .team-img {
		float: none;
		text-align: center;
		margin: 10px 0;
	}

	.white-match .team-name,
	.black-match .team-name {
		margin: 0 !important;
		float: none;
		text-align: center;
	}

	.white-match .team-date,
	.black-match .team-date {
		padding: 25px 0;
		position: relative;
		margin: 10px 0;
	}

	.white-match .team-date:after,
	.black-match .team-date:after {
		position: absolute;
		bottom: 0;
		content: '-';
		text-align: center;
	}

	.white-match .team-date:before,
	.black-match .team-date:before {
		position: absolute;
		top: 0;
		content: '-';
		text-align: center;
	}
	.img-responsive {
		display:inline-block;
	}
}
.match-date h1{
    font-size: 16px;
    color: #24252f;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.match-date p{
    font-size: 14px;
    color: #7a7b81;
    margin: 0;
}
.match-left{
    margin: 16px 0 0 20px;
    display: grid;
}
.match-date {
    text-align: center;
    margin: 20px 0 0 0;
    display: grid;
}
.match-right {
    margin: 16px 20px 0 0;
    display: grid;
}
.white-match {
    background: #fff;
    display: block;
    overflow: hidden;
    margin: 0 15px;
    border-bottom: 1px solid #f2f2f3;
    padding: 18px 30px;
}
.black-match {
    background: #fbfbfb;
    display: block;
    overflow: hidden;
    /*margin: 0 15px;*/
    border-bottom: 1px solid #f2f2f3;
    padding: 18px 45px;
}

.page-head-section {
    padding-top: 0;
    padding-bottom: 50px;
	  display:block;
    position:relative;
    z-index:120;
}

.page-title-section {
    color: white;
    display: block;
    width: 100%;
    position: relative;
    padding-top: 120px;
    background-image: url(../img/slider-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media(min-width:767px) {
  .page-title-section {
    padding: 120px 0 0 60px;
  }
}

@media(max-width:767px) {
  hr.marginbot-50 {
    margin-bottom: 20px !important;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .white-match {
    margin: 0 5px;
    border-bottom: 1px solid #f2f2f3;
    padding: 18px 5px;
  }
  .white-match > div {
    padding-left: 0;
    padding-right: 0;
  }
  .match-left, .match-rigth {
    margin: 10px 0 0 0;
  }
  .match-date h2 {
    font-size: 22px;
  }
}

.page-title-section.chi-siamo {
  color: white;
  display: block;
  width: 100%;
  position: relative;
  padding: 200px 0;
  background-image: url(../img/slider-bg-fuoriposto.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.regulation li {
  padding-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.match-goal {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.match-goal .team {
  margin: 50px;
  text-align: center;
}

.match-goal ul {
  padding: 10px 30px 10px;
}

.match-goal .team-score {
  margin-top: 50px;
  text-align: center;
  font-size: 12px;
}

.match-timer {
  margin-top: 50px;
}

.group-rank th, .group-rank td {
    height: 30px;
    width: 20%;
    text-align: center;
    border-bottom: 1px rgba(228, 151, 83, 0.3) solid;
}

.group-rank th {
  background-color: rgb(228, 151, 83);
  color: white;
}
.group-rank td {
   border-bottom: 1px rgba(228, 151, 83, 0.3) solid;
}

tbody.group-rank {
  width: 100%;
}

table.group-rank {
    /*margin: 20px auto 40px;*/
    border: 0;
    /*width: 80%;*/
}

.table-responsive {
    border: 0;
}


.team-player {
    font-size: 12px;
}

.match-col {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.team li {
    list-style-type: none;
}
.team ul {
    padding-inline-start: 0;
}

.table-responsive {
  background:
    linear-gradient(to right, rgba(0,0,0,0.1) 30%, rgba(255,255,255,0)),
    linear-gradient(to left, rgba(0,0,0,0.1) 30%, rgba(255,255,255,0)) 100% 0;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 10px 100%;
  margin-bottom: 15px;
}

.table-responsive > .table {
  background:
    linear-gradient(to right, white 30%, rgba(255,255,255,0)),
    linear-gradient(to left, white 30%, rgba(255,255,255,0)) 100% 0;
  background-size: 50px 100%;
  background-repeat: no-repeat;
  max-width: none;
  margin-bottom: 0;
}
