.team-img, .team-name{
    float: left;
    padding: 10px;
}
.team-img img {
  max-width: 300px;
  height: 100px;
}
.team-name h1{
    font-size: 21px;
    color: #24252f;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.team-name p{
    font-size: 14px;
    color: #7a7b81;
    margin: 0;
}
@media screen and (max-width:991px) {
	.team-date {
		display: inline-block;
		width: 100%;
	}
	.white-match .col-md-4,
	.black-match .col-md-4	{
		display: inline-block;
		width: 100%;
	}

	.white-match .team-img,
	.black-match .team-img {
		float: none;
		text-align: center;
		margin: 10px 0px;
	}

	.white-match .team-name,
	.black-match .team-name {
		margin: 0px !important;
		float: none;
		text-align: center;
	}

	.white-match .team-date,
	.black-match .team-date {
		padding: 25px 0px;
		position: relative;
		margin: 10px 0px;
	}

	.white-match .team-date:after,
	.black-match .team-date:after {
		position: absolute;
		bottom: 0;
		content: '-';
		text-align: center;
	}

	.white-match .team-date:before,
	.black-match .team-date:before {
		position: absolute;
		top: 0;
		content: '-';
		text-align: center;
	}
	.img-responsive {
		display:inline-block;
	}
}
.match-date h1{
    font-size: 16px;
    color: #24252f;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.match-date p{
    font-size: 14px;
    color: #7a7b81;
    margin: 0;
}
.match-left{
    margin: 16px 0 0 20px;
    display: grid;
}
.match-date {
    text-align: center;
    margin: 20px 0 0 0;
    display: grid;
}
.match-right {
    margin: 16px 20px 0 0;
    display: grid;
}
.white-match {
    background: #fff;
    display: block;
    overflow: hidden;
    margin: 0 15px;
    border-bottom: 1px solid #f2f2f3;
    padding: 18px 30px;
}
.black-match {
    background: #fbfbfb;
    display: block;
    overflow: hidden;
    /*margin: 0 15px;*/
    border-bottom: 1px solid #f2f2f3;
    padding: 18px 45px;
}

.page-head-section {
    padding-top: 0px;
    padding-bottom: 50px;
	  display:block;
    position:relative;
    z-index:120;
}

.page-title-section {
    color: white;
    display: block;
    width: 100%;
    position: relative;
    padding-top: 120px;
    background-image: url(../img/slider-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@@media(min-width:767px) {
  .page-title-section {
    padding: 120px 0 0 60px;
  }
}
@media(max-width:767px) {
  .row > div {
    padding-top: 30px;
  }
  hr.marginbot-50 {
    margin-bottom: 20px !important;
  }
  .white-match {
    margin: 0 5px;
    border-bottom: 1px solid #f2f2f3;
    padding: 18px 5px;
  }
  .white-match > div {
    padding-left: 0;
    padding-right: 0;
  }
  .match-left, .match-rigth {
    margin: 10px 0 0 0;
  }
  .match-date h2 {
    font-size: 22px;
  }
}

.page-title-section.chi-siamo {
  color: white;
  display: block;
  width: 100%;
  position: relative;
  padding: 200px 0;
  background-image: url(../img/slider-bg-fuoriposto.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.regulation li {
  padding-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.match-goal {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.match-goal .team-player {
  list-style: none;
}

.match-goal .team {
  margin: 50px;
  text-align: center;
}

.match-goal ul {
  padding: 10px 30px 10px;
}

.match-goal .team-score {
  margin-top: 50px;
  text-align: center;
}

.match-timer {
  margin-top: 50px;
}

.group-rank th, .group-rank td {
    height: 30px;
    width: 20%;
    text-align: center;
    border-bottom: 1px rgba(0, 139, 173, 0.3) solid;
}

.group-rank th {
  background-color: rgb(0, 139, 173);
  color: white;
}
.group-rank td {
   border-bottom: 1px rgba(0, 139, 173, 0.3) solid;
}

table.group-rank {
  margin-bottom: 40px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
}
