<!DOCTYPE html>
<html lang="it">
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO Meta Tags -->
    <title>{% block title %}Festival Fuori Posto - Calcio Splash Ala | Torneo di Calcetto Saponato{% endblock %}</title>
    <meta name="description" content="{% block description %}Festival Fuori Posto ad Ala (TN) - Torneo di calcetto saponato dal 1-2-3 Agosto 2025. Settima edizione con schiuma, divertimento e Green Volley all'Oratorio di Ala.{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}calcio splash, torneo calcetto, Ala, Trentino, festival, calcetto saponato, green volley, associazione fuori posto{% endblock %}" />
    <meta name="author" content="Associazione Fuori Posto" />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="{% block og_type %}website{% endblock %}" />
    <meta property="og:url" content="{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}" />
    <meta property="og:title" content="{% block og_title %}Festival Fuori Posto - Calcio Splash Ala{% endblock %}" />
    <meta property="og:description" content="{% block og_description %}Torneo di calcetto saponato dal 1-2-3 Agosto 2025 all'Oratorio di Ala (TN). Settima edizione del Festival Fuori Posto.{% endblock %}" />
    <meta property="og:image" content="{% block og_image %}{% static 'img/android-chrome-192x192.png' %}{% endblock %}" />
    <meta property="og:locale" content="it_IT" />
    <meta property="og:site_name" content="Festival Fuori Posto" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ request.build_absolute_uri }}" />
    <meta property="twitter:title" content="{% block twitter_title %}Festival Fuori Posto - Calcio Splash Ala{% endblock %}" />
    <meta property="twitter:description" content="{% block twitter_description %}Torneo di calcetto saponato dal 1-2-3 Agosto 2025 all'Oratorio di Ala (TN){% endblock %}" />
    <meta property="twitter:image" content="{% static 'img/android-chrome-192x192.png' %}" />

    <!-- Canonical URL -->
    <link rel="canonical" href="{% block canonical %}{{ request.build_absolute_uri }}{% endblock %}" />

    <!-- Structured Data -->
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Associazione Fuori Posto",
        "url": "{{ request.build_absolute_uri }}",
        "logo": "{% static 'img/android-chrome-192x192.png' %}",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "via Sant'Anna, 15",
            "addressLocality": "Ala",
            "postalCode": "38061",
            "addressRegion": "TN",
            "addressCountry": "IT"
        },
        "sameAs": [
            "https://www.instagram.com/associazionefuoriposto/",
            "https://www.facebook.com/AssociazioneFuoriPosto"
        ]
    }
    </script>

    {% if GOOGLE_ANALYTICS_ID %}
        {% include "ga.html" %}
    {% endif %}

    <title>Festival Fuori Posto</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />

    <!-- Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/animate.css" %}" rel="stylesheet" />
    <!-- Squad theme CSS -->
    <link href="{% static "css/style.css" %}" rel="stylesheet" />

    <link href="{% static "css/default.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/custom.css" %}" rel="stylesheet" type="text/css" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/apple-touch-icon.png" %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon-32x32.png" %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon-16x16.png" %}" />
    <link rel="manifest" href="{% static "site.webmanifest" %}" />
    <meta name="theme-color" content="#E49753" />

    {% block extra_head %}{% endblock %}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
<!-- Preloader -->
<div id="preloader">
    <div id="load"></div>
</div>

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" aria-label="Menu principale">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse" aria-label="Apri menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}" aria-label="Torna alla homepage">
                <img src="{% static "img/android-chrome-192x192.png" %}" alt="Logo Festival Fuori Posto" />
                <h1>Calcio Splash Ala</h1>
            </a>
        </div>

        {%  include 'menu.html' %}

    </div>
</nav>

{% block header_container %}
    <section id="intro" class="page-head-section text-center">
        <div class="heading-about page-title-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                {% block header %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
{% endblock %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="wow shake" data-wow-delay="0.4s">
                    <div class="page-scroll marginbot-30">
                        <a href="#intro" id="totop" class="btn btn-circle" aria-label="Torna all'inizio">
                            <i class="fa fa-angle-double-up animated"></i>
                        </a>
                    </div>
                </div>
                <address>
                    <strong>Associazione Fuori Posto</strong><br>
                    via Sant'Anna, 15<br>
                    38061 ALA (TN)<br>
                    P.Iva 02466620222 C.Fiscale 94044310228
                </address>
                <div class="credits">
                    <a href="https://bootstrapmade.com/free-one-page-bootstrap-themes-website-templates/">One Page Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Core JavaScript Files -->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery.easing.min.js" %}"></script>
<script src="{% static "js/jquery.scrollTo.js" %}"></script>
<script src="{% static "js/wow.min.js" %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static "js/custom.js" %}"></script>

{% block scripts %}
{% endblock %}

</body>

</html>
