{% extends "base.html" %}

{% block content %}
<section id="teams" class="page-head-section text-center">
  <div class="heading-about page-title-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2>Contatti</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-section ">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div id="map"></div>
      </div>
      <div class="col-md-5">
        <h4>Dove Siamo</h4>
        <p>Il torneo si terrà presso il campo dell'Oratorio di Ala in Via Zigatteria.</p>
        <p>Non è possibile parcheggiare all'interno del cortile, ma nelle vicinanze
          sono presenti numerosi parcheggi.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
</section>

{% endblock %}

{% block scripts %}
<script>
  function initMap() {
    var uluru = {lat: 45.755278, lng: 11.005139};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map,
      title: 'Oratorio'
    });

    var infowindow = new google.maps.InfoWindow({
      content: 'Oratorio'
    });
    var parkWindow = new google.maps.InfoWindow({
      content: 'Parcheggio'
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
    var parkingCoordinates = [
      {lat: 45.755443, lng: 11.003566},
      {lat: 45.754942, lng: 11.001256},
      {lat: 45.758318, lng: 11.007256}
    ];
    parkingCoordinates.forEach(function(coord) {
      var pMarker = new google.maps.Marker({
        position: coord,
        map: map,
        title: 'Parcheggio',
        icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
      });
      pMarker.addListener('click', function() {
        parkWindow.open(map, pMarker);
      });
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDawp4kuntkqTqmsl30KANJ0Ld4C9sc5xw&callback=initMap">
</script>

{% endblock %}
