{% extends "base.html" %}

{% block header_menu_class_chi_siamo %}active{% endblock %}

{% block header_container %}
<section class="page-head-section text-center" id="intro">
  <div class="heading-about page-title-section chi-siamo">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2>&nbsp;</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<!-- Section: services -->
<section id="service" class="text-center">

  <div class="heading-about">
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="wow bounceInDown" data-wow-delay="0.4s">
        <div class="section-heading">
        <h2>Chi Siamo</h2>
        <i class="fa fa-2x fa-angle-down"></i>

        </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-5">
      <hr class="marginbot-50">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="wow fadeInLeft" data-wow-delay="0.2s">
        <div class="service-box">
          <div class="service-desc">
            <h5>L'Associazione</h5>
            <p>Il mondo dell'associazionismo alense, si sa è piuttosto ricco; non sono però molte le associazioni
            formate esclusivamente da giovani, e la neo-nata Associazione "Fuori Posto" è una di queste.</p>
            <p>L'Associazione, il cui nome è quasi provocatorio - i giovani "fuori posto" rispetto allo
              stereotipo della società, quelli che si danno da fare, che si organizzano e sanno fare comunità -
              nasce dall'intenzione del gruppo di ragazzi della ex Consulta Giovani del Comune di Ala di continuare
              le loro attività, rivolte principalmente ai giovani della zona; il gruppo organizzativo,
              capitanato dal presidente Thomas Cavagna, è infatti formato da tutti ex-membri della consulta, ma si è
              già recentemente allargato aggiungendo nuovi volontari.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="wow fadeInRight" data-wow-delay="0.2s">
        <div class="service-box">
          <div class="service-desc">
            <h5>Le Attività</h5>
            <p>
              Dopo la partecipazione all'evento di Ala Città di Velluto 2016, con la molto apprezzata "Locanda dei Cellieri",
              la prima attività organizzata dal gruppo è stata una gita sulla neve presso il comprensorio sciistico
              Reinswald.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- /Section: services -->



{% endblock %}
