{% extends "base.html" %}

{% block content %}
<section class="page-head-section text-center">
  <div class="heading-about page-title-section chi-siamo">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2>&nbsp;</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: services -->
<section id="service" class="home-section text-center">

  <div class="heading-about">
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="wow bounceInDown" data-wow-delay="0.4s">
        <div class="section-heading">
        <h2>Chi Siamo</h2>
        <i class="fa fa-2x fa-angle-down"></i>

        </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-5">
      <hr class="marginbot-50">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="wow fadeInLeft" data-wow-delay="0.2s">
        <div class="service-box">
          <div class="service-desc">
            <h5>L'Associazione</h5>
            <p>Dopo l'esperienza maturata con la Consulta Giovani, conclusosi il nostro mandato,
              abbiamo deciso di mantenere l'impegno in Ala Città di Velluto con la Locanda dei Cellieri.
              <br />
              Per questo è nata l'associazione Fuori Posto, resta aggiornato con noi e non mancare ai nostri appuntamenti
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="wow fadeInUp" data-wow-delay="0.2s">
        <div class="service-box">
          <div class="service-desc">
            <h5>Il Torneo</h5>
            <p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="wow fadeInRight" data-wow-delay="0.2s">
        <div class="service-box">
          <div class="service-desc">
            <h5>Le Attività</h5>
            <p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- /Section: services -->



{% endblock %}
