{% extends "base.html" %}

{% block header_menu_class_tournament %}active{% endblock %}

{% block header %}
  <h2>Girone: {{ group.name }}</h2>
  <h3>Torneo {{ group.tournament.name }} - <u>{{ group.tournament.edition_year }}</u></h3>
{% endblock %}


{% block content %}
<section id="teams" class="page-head-section text-center">


  <div class="container">
    <!-- GROUP CLASSIFICA -->
    {% if not group.is_final %}
    <div class="row">
      <div class="col-md-12">
        <table class="group-rank">
          <tr>
            <th>&nbsp;</th>
            <th>Punti</th>
            {% if not group.is_beach %}
            <th>GF</th>
            <th>GS</th>
            <th>DR</th>
            {% endif %}
          </tr>
          {% for team_name, team in group.teams.items %}
          <tr>
            <td>
                <a href="{% url 'team-detail' team.pk %}">{{ team_name }}</a>
            </td>
            <td>{{team.points}}</td>
            {% if not group.is_beach %}
            <td>{{team.goals_done}}</td>
            <td>{{team.goals_taken}}</td>
            <td>{{team.goals_diff}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    {% endif %}
    <!-- /GROUP CLASSIFICA -->

    <!-- GROUP MATCHES -->
    <div class="row">
      {% if group.matches %}
      {% for match in group.group_matches %}
      <div class="white-match">
        {% include 'match_template.html' with match=match is_beach=group.is_beach %}
      </div>

      {% endfor %}
      {% endif %}
    </div>
    <!-- /GROUP MATCHES -->


  </div>


</section>
{% endblock %}
