{% extends "base.html" %}

{% block header_menu_class_home %}active{% endblock %}

{% block og_title %}Festival Fuori Posto 2025 - Calcio Splash Ala | 1-2-3 Agosto{% endblock %}
{% block og_description %}Settima edizione del Festival Fuori Posto dal 1-2-3 Agosto 2025. Torneo di calcetto saponato, Green Volley e tanto divertimento all'Oratorio di Ala (TN).{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css" />
    <!-- Event Structured Data -->
    <script type="application/ld+json">
    {
        "@context": "`https://schema.org`",
        "@type": "Event",
        "name": "Festival Fuori Posto 2025 - Calcio Splash",
        "description": "Settima edizione del torneo di calcetto saponato con Green Volley e divertimento",
        "startDate": "2025-08-01T18:00:00+02:00",
        "endDate": "2025-08-03T24:00:00+02:00",
        "eventStatus": "`https://schema.org/EventScheduled`",
        "eventAttendanceMode": "`https://schema.org/OfflineEventAttendanceMode`",
        "location": {
            "@type": "Place",
            "name": "Oratorio di Ala",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Ala",
                "postalCode": "38061",
                "addressRegion": "TN",
                "addressCountry": "IT"
            },
            "geo": {
                "@type": "GeoCoordinates",
                "latitude": 45.755513,
                "longitude": 11.005399
            }
        },
        "organizer": {
            "@type": "Organization",
            "name": "Associazione Fuori Posto",
            "url": "{{ request.build_absolute_uri }}"
        },
        "offers": {
            "@type": "Offer",
            "availability": "`https://schema.org/InStock`",
            "price": "0",
            "priceCurrency": "EUR"
        }
    }
    </script>
{% endblock %}

{% block header_container %}
    <section id="intro" class="intro">

        <div class="slogan">
            <h2>Festival Fuori Posto</h2>
            <h3>Settima Edizione</h3>
            <h2>1-2-3 Agosto 2025</h2>
        </div>
        <div class="page-scroll">
            <a href="#programma" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </section>
{% endblock %}

{% block content %}
    {% if MODE_TOURNAMENT %}
        <section class="home-section container" id="partite" aria-labelledby="partite-title">
            <div class="heading-about text-center">
                <div class="row">
                    <h3 id="partite-title"><a href="{% url 'matches' 2025 %}">Segui in diretta le partite</a></h3>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        {% if match %}
                            <h4>Stanno giocando</h4>
                            {% include 'match_template.html' with match=match is_beach=False %}
                        {% elif next_match %}
                            <h4>Prossima partita Calcio Splash</h4>
                            {% include 'match_template.html' with match=next_match is_beach=False %}
                        {% endif %}
                    </div>
                    <div class="col-lg-8 col-lg-offset-2" style="margin-top: 16px;">
                        {% if match_beach %}
                            <h4>Stanno giocando</h4>
                            {% include 'match_template.html' with match=match_beach is_beach=True %}
                        {% elif next_match_beach %}
                            <h4>Prossima partita Green Volley</h4>
                            {% include 'match_template.html' with match=next_match_beach is_beach=True %}
                        {% endif %}
                    </div>
                </div>

            </div>
        </section>


        <!-- Section: Programma -->
        <section class="home-section container" id="programma">
            <div class="heading-about text-center">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="section-heading">
                            <h2>Anche quest'anno schiuma e divertimento all'Oratorio di Ala</h2>
                            <i class="fa fa-2x fa-angle-down"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row programma">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <p>Tenetevi liberi: ad agosto torna a Ala il torneo di calcetto saponato organizzato
                            dall'Associazione Fuori Posto!</p>
                        <p>Trovi <b><a href="/iscrizioni">qui</a></b> tutte le info</p>
                        <p>Non conosci la nostra Associazione? Segui
                            <b><a href="https://www.instagram.com/associazionefuoriposto/">la nostra pagina</a></b> per
                            rimanere aggiornato sulle prossime attività</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-section container">
            <div class="heading-about">
                <div class="container">
                    <div class="section-heading text-center">
                        <h2>Programma</h2>
                    </div>
                    <div class="row programma">
                        <div class="col-md-4 col-xs-12">
                            <h4>VENERDÌ 1 AGOSTO</h4>
                            <ul>
                                <li>18.00 inizio torneo Calcio Splash + apertura stand</li>
                                <li>19.00 happy hour</li>
                                <li>21.00 - 23.00 Dj Common Flaws</li>
                                <li>23.00 - 01.00 Dj Matteo (Aldo)</li>
                                <li>1.30 fine serata</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <h4>SABATO 2 AGOSTO</h4>
                            <ul>
                                <li>10.00 Inizio torneo Calcio Splash</li>
                                <li>11.00 apertura stand</li>
                                <li>14.00 - 18.00 animazione bimbi / stand AVIS</li>
                                <li>15.00 - 21.00 sfide a premi</li>
                                <li>19.00 Happy hour</li>
                                <li>19.30 - 22.00 Dj Centi</li>
                                <li>22.00 - 1.00 Dj Matin Horizon</li>
                                <li>1.30 fine serata</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <h4>DOMENICA 3 AGOSTO</h4>
                            <ul>
                                <li>10.00 Inizio torneo CS</li>
                                <li>11.00 apertura stand e inizio torneo Green Volley</li>
                                <li>14.00 - 18.00 animazione bimbi / stand AVIS / stand Laborfonds</li>
                                <li>15.00 - 21.00 sfide a premi</li>
                                <li>19.00 Happy hour</li>
                                <li>21.00 premiazioni</li>
                                <li>00.00 fine serata</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Section: programma -->

    {% else %}

        <section class="home-section container" id="programma">
            <div class="wow bounceInDown" data-wow-delay="0.4s">
                <div class="heading-about text-center">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="section-heading">
                                <h2>Seguici su <a href="https://www.instagram.com/associazionefuoriposto/">Instagram</a>
                                    e <a href="https://www.facebook.com/AssociazioneFuoriPosto">Facebook</a> per
                                    rimanere aggiornato sulle novità per la prossima edizione</h2>
                                <i class="fa fa-2x fa-angle-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <!-- Section: Wall of fame -->
    <section class="home-section bg-gray">
        <div class="heading-about text-center">
            <div class="container">
                <div class="row programma">
                    <h1>Wall of Fame</h1>
                    <div class="wow bounceInUp" data-wow-delay="0.2s">
                        <div class="col-md-6 team boxed-grey">
                            <div class="inner">
                                <h4><a href="{% url 'albomarcatori' 'M' %}">Miglior Marcatore</a></h4>
                                <ul>
                                    <li><h5>Carlo Stedile (45)</h5></li>
                                    <li><h5>Davide Dalbosco (43)</h5></li>
                                    <li><h5>Davide Pedroni (33)</h5></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 team boxed-grey">
                            <div class="inner">
                                <h4><a href="{% url 'albomarcatori' 'F' %}">Miglior Marcatrice</a></h4>
                                <ul>
                                    <li><h5>Laura Manconi (60)</h5></li>
                                    <li><h5>Margherita Pinter (36)</h5></li>
                                    <li><h5>Elisa Cavagna (22)</h5></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="wow bounceInUp">

                        <div class="col-md-12">
                            <div class="row" data-wow-delay="0.2s">
                                <div class="col-md-1">
                                    <h4><a href="{% url 'albo' 2024 %}">Edizione 2024</a></h4>
                                </div>
                                <div class="col-md-4"><small>Maschile</small><h5>BACK TO BEC</h5></div>
                                <div class="col-md-4"><small>Femminile</small><h5>BEVERLY INPS</h5></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row" data-wow-delay="0.2s">
                                <div class="col-md-1">
                                    <h4><a href="{% url 'albo' 2023 %}">Edizione 2023</a></h4>
                                </div>
                                <div class="col-md-4"><small>Maschile</small><h5>COSE SBAGLIATE</h5></div>
                                <div class="col-md-4"><small>Femminile</small><h5>QUEL BULLETTO DEL CARCIOFO</h5></div>
                                <div class="col-md-3"><small>Beach Volley</small><h5>VOLLEY MA NON POSSO</h5></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row" data-wow-delay="0.2s">
                                <div class="col-md-1">
                                    <h4><a href="{% url 'albo' 2022 %}">Edizione 2022</a></h4>
                                </div>
                                <div class="col-md-4"><small>Maschile</small><h5>ROTTAMI</h5></div>
                                <div class="col-md-4"><small>Femminile</small><h5>LE CHAPET</h5></div>
                                <div class="col-md-3"><small>Beach Volley</small><h5>VOLLEY BERE</h5></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row wow" data-wow-delay="0.2s">
                                <div class="col-md-1">
                                    <h4><a href="{% url 'albo' 2019 %}">Edizione 2019</a></h4>
                                </div>
                                <div class="col-md-4"><small>Maschile</small><h5>CGB GAMBERONI</h5></div>
                                <div class="col-md-4"><small>Femminile</small><h5>LE MAI UNA GIO(IA)</h5></div>
                                <div class="col-md-3"><small>Beach Volley</small><h5>VOLLEY MA OPERA ZIA PIA</h5></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row" data-wow-delay="0.2s">
                                <div class="col-md-1">
                                    <h4><a href="{% url 'albo' 2018 %}">Edizione 2018</a></h4>
                                </div>
                                <div class="col-md-4"><small>Maschile</small><h5>ROTTAMI</h5></div>
                                <div class="col-md-4"><small>Femminile</small><h5>LE MAI UNA GIOIA</h5></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row" data-wow-delay="0.2s">
                                <div class="col-md-1">
                                    <h4><a href="{% url 'albo' 2017 %}">Edizione 2017</a></h4>
                                </div>
                                <div class="col-md-4"><small>Maschile</small><h5>U.S. GUARNA</h5></div>
                                <div class="col-md-4"><small>Femminile</small><h5>TETTA PIG</h5></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if MODE_TOURNAMENT %}
        <!-- Section: Iscrizioni -->
        <section class="home-section container">
            <div class="heading-about text-center">
                <div class="container">
                    <div class="row programma">
                        <h1>Vuoi partecipare?</h1>
                        {#                        <h2>Le iscrizioni apriranno a breve, seguici su <a#}
                        {#                                href="https://www.instagram.com/associazionefuoriposto/">Instagram</a> per rimanere#}
                        {#                            aggiornato</h2>#}
                        <h2>Scarica <a href="{% url 'iscrizioni' %}">QUI</a> il modulo</h2>
                        <p>Le iscrizioni si apriranno il 20 giugno e si chiuderanno al
                            raggiungimento del numero massimo di squadre</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Dove con mappa -->
        <section class="home-section container">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div id="map"></div>
                    </div>
                    <div class="col-md-5">
                        <h4>Dove Siamo</h4>
                        <p>Il torneo si terrà presso il campo dell'Oratorio di Ala</p>
                        <p>Per tutti i partecipanti al torneo, la struttura mette a disposizione spogliatoi.</p>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"></script>
    <script>
        const lat = 45.755513;
        const lng = 11.005399;

        const parcheggi = [
            { id: 1, lat: 45.755225, lng: 11.003642, nome: "Parcheggio delle Scuole Medie" },
            { id: 2, lat: 45.755294, lng: 11.003172, nome: "Parcheggio ex-canonica" },
            { id: 3, lat: 45.754922, lng: 11.000898, nome: "Parcheggio parco Bastie" },
            { id: 4, lat: 45.756713, lng: 11.002378, nome: "Parcheggio della piscina" }
        ];

        const map = L.map('map').setView([lat, lng], 15);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        const oratoioIcon = L.icon({
            iconUrl: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLW1hcC1waW4taWNvbiBsdWNpZGUtbWFwLXBpbiI+PHBhdGggZD0iTTIwIDEwYzAgNC45OTMtNS41MzkgMTAuMTkzLTcuMzk5IDExLjc5OWExIDEgMCAwIDEtMS4yMDIgMEM5LjUzOSAyMC4xOTMgNCAxNC45OTMgNCAxMGE4IDggMCAwIDEgMTYgMCIvPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTAiIHI9IjMiLz48L3N2Zz4=',
            iconSize: [40, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34]
        });

        const parcheggiIcon = L.icon({
            iconUrl: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNpcmNsZS1wYXJraW5nLWljb24gbHVjaWRlLWNpcmNsZS1wYXJraW5nIj48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMCIvPjxwYXRoIGQ9Ik05IDE3VjdoNGEzIDMgMCAwIDEgMCA2SDkiLz48L3N2Zz4=',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34]
        });

        const marker = L.marker([lat, lng], {icon: oratoioIcon}).addTo(map);
        marker.bindPopup('<b>🍻 Oratorio di Ala</b>').openPopup();

        parcheggi.forEach(parcheggio => {
            const markerParcheggio = L.marker([parcheggio.lat, parcheggio.lng], {icon: parcheggiIcon}).addTo(map);
            markerParcheggio.bindPopup(`<b>🅿️ ${parcheggio.nome}</b><br>Parcheggio disponibile`);
        });
    </script>
{% endblock %}
