{% extends "base.html" %}

{% block header_menu_class_home %}active{% endblock %}

{% block header_container %}
<section id="intro" class="intro">

  <div class="slogan">
    <h2>CALCIO SPLASH ALA</h2>
    <h4>Prima Edizione: 5-6 Agosto 2017</h4>
  </div>
  <div class="page-scroll">
    <a href="#programma" class="btn btn-circle">
      <i class="fa fa-angle-double-down animated"></i>
    </a>
  </div>
</section>
{% endblock %}

{% block content %}
<!-- Section: Programma -->
<section class="home-section" id="programma">
  <div class="heading-about text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2>Il Programma</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Calcio Splash Ala!</h4>
        <p>Finalmente anche a Ala .... bla bla</p>
      </div>
      <div class="col-md-4">
        <h4>Sabato 5 agosto</h4>
        <ul>
          <li>10.00 : Inizio Partite</li>
          <li>22.30 : Fine Partite</li>
          <li>01.00 : Chiusura serata</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Domenica 6 agosto</h4>
        <ul>
          <li>10.00 : Inizio Partite</li>
          <li>22.30 : Fine Partite</li>
          <li>01.00 : Chiusura serata</li>
        </ul>
      </div>

    </div>
  </div>
</section>
<!-- /Section: programma -->


<section class="home-section bg-gray">
  <div class="heading-about text-center">
    <div class="container">
      <div class="row">
        <h1>Vuoi partecipare?</h1>
        <h2>Scarica <a href="/iscrizioni">QUI</a> il modulo</h2>
        <p>Le iscrizioni si apriranno il 3 luglio e si chiuderanno al raggiungimento di 20 squadre maschili e 8 femminili</p>
      </div>
    </div>
  </div>
</section>


<section class="home-section ">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div id="map"></div>
      </div>
      <div class="col-md-5">
        <h4>Dove Siamo</h4>
        <p>Il torneo si terrà presso il campo dell'Oratorio di Ala in Via Zigatteria.</p>
        <p>Non è possibile parcheggiare all'interno del cortile, ma nelle vicinanze
          sono presenti numerosi parcheggi.
        </p>
        <p>Per tutti i partecipanti al torneo, la struttura mette a disposizione
          spogliatoi comprensivi di docce</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}
<script>
  function initMap() {
    var uluru = {lat: 45.755278, lng: 11.005139};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map,
      title: 'Oratorio'
    });

    var infowindow = new google.maps.InfoWindow({
      content: 'Oratorio'
    });
    var parkWindow = new google.maps.InfoWindow({
      content: 'Parcheggio'
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
    var parkingCoordinates = [
      {lat: 45.755443, lng: 11.003566},
      {lat: 45.754942, lng: 11.001256},
      {lat: 45.758318, lng: 11.007256}
    ];
    parkingCoordinates.forEach(function(coord) {
      var pMarker = new google.maps.Marker({
        position: coord,
        map: map,
        title: 'Parcheggio',
        icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
      });
      pMarker.addListener('click', function() {
        parkWindow.open(map, pMarker);
      });
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDawp4kuntkqTqmsl30KANJ0Ld4C9sc5xw&callback=initMap">
</script>

{% endblock %}
