{% extends "base.html" %}

{% block header %}
<h2>Iscrizioni</h2>
{% endblock %}

{% block content %}

<section>
  <div class="container">
    <div class="row">

      <div class="col-md-5">
        <div class="wow fadeInLeft" data-wow-delay="0.2s">
          <div class="service-box">
            <div class="service-desc">
              <h5>Dove e Quando</h5>
              <p>
                Ci potrete trovare tutti i <b>mercoledì di giugno e luglio dalle
                20-22</b> presso il <b>Caffè La Nicchia</b> in Piazza Giovanni
                XXIII n. 8 Ala
              </p>
              <p>
                In alternativa potete consegnare i moduli e la quota di
                iscrizione presso lo stesso bar entro e non oltre il 30
                luglio 2017
              </p>
            </div>
          </div>
          <div class="service-box">
            <div class="service-desc">
              <h5>Modulistica</h5>
              <ul>
                <li><a href="/static/files/modulo_squadra.pdf">Modulo Iscrizione Squadra</a></li>
                <li><a href="/static/files/modulo_associazione.pdf">Modulo Tesseramento</a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="wow fadeInLeft" data-wow-delay="0.2s">
        <div class="service-box">
          <div class="service-desc">
            <h5>Modalità</h5>
            <p>
              Ogni squadra dovrà consegnare il modulo di iscrizione al torneo,
              e il modulo di tesseramento all'Associazione Fuoriposto di ogni
              giocatore, unitamente alla quota di iscrizione.
            </p>
            <p>
              La quota è di 10euro per giocatore ed è comprensiva
              di iscrizione al torneo, assicurazione in caso di infortunio e
              tesseramento all'associazione Fuoriposto.
            </p>
            <p>
              La quota potrà essere conseganta direttamente al momento dell'iscrizione
              o versata tramite bonifico bancario all'Associazione Fuoriposto
              <br />
              DETTAGLI PAGAMENTO IBAN...
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="wow fadeInLeft" data-wow-delay="0.2s">
        <div class="service-box">

        </div>
      </div>
    </div>
  </div>
</div>
</section>

{% endblock %}
