{% extends "base.html" %}

{% block header_menu_class_info %}active{% endblock %}

{% block header %}
<h2>Iscrizioni</h2>
{% endblock %}

{% block content %}

<section>
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="wow fadeInLeft" data-wow-delay="0.2s">
          <div class="service-box">
            <div class="service-desc">
              <h5>Modulistica</h5>
              <ul>
                <li><a href="https://drive.google.com/file/d/1U6wtUjG3BManSEGi-Ec3CFDdHUYc_oRL/view">Modulo Iscrizione Calcio Splash</a></li>
                <li><a href="https://drive.google.com/file/d/1ZYjv1DV2fuV43chatu05trwT8YcsxQMB/view">Modulo Iscrizione Beach Volley</a></li>
                <li><a href="https://drive.google.com/file/d/0B4NApwrWog85ZlVCanpUMHhfem8/view?usp=sharing&resourcekey=0-kYFKHZSuCa0i4l5mS8p1Pg">Modulo Tesseramento</a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="wow fadeInLeft" data-wow-delay="0.2s">
        <div class="service-box">
          <div class="service-desc">
            <h5>Modalità</h5>
            <p>A breve vi daremo più informazioni sull'apertura delle iscirzioni e dove trovarci.</p>
{##}
{#            <p>#}
{#              Ogni squadra dovrà consegnare il <strong>modulo di iscrizione al torneo</strong>,#}
{#              e,  (non obbligatoria) per ogni giocatore, il <strong>modulo di tesseramento</strong> all'Associazione Fuori Posto.#}
{#            </p>#}
{#              <p>#}
{#                  Ci potrete trovare <b>mercoledì 22 e 29 giugno e mercoledì 6 luglio dalle#}
{#                  20 alle 22</b> presso il <b>l'Oratorio di Ala</b> in Via Zigatteria.#}
{#                  <br/>#}
{#                  In alternativa puoi inviare i moduli di iscrizione tramite <b>whatsapp</b> al +39 3490740102#}
{#              </p>#}
{#              <p>#}
{#              La quota è di 10 euro per giocatore ed è comprensiva#}
{#              di iscrizione al torneo, assicurazione e tesseramento all'associazione Fuori Posto.#}
{#            </p>#}
{#            <p>#}
{#              <b>La quota potrà essere consegnata direttamente al momento dell'iscrizione#}
{#                  o versata tramite bonifico bancario</b> alle seguenti coordinate:#}
{#              <br />#}
{#              Causale: Iscrizione squadra "nome squadra" torneo calcetto saponato#}
{#              Intestatario: Associazione Fuori Posto<br/>#}
{#              Cassa Rurale Vallagarina<br/>#}
{#              IBAN: IT61I0801134270000010031715<br/>#}
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="wow fadeInLeft" data-wow-delay="0.2s">
        <div class="service-box">

        </div>
      </div>
    </div>
  </div>
</div>
</section>

{% endblock %}
