{% extends "base.html" %}

{% block header_menu_class_info %}active{% endblock %}

{% block header %}
<h2>Iscrizioni</h2>
{% endblock %}

{% block content %}

<section>
  <div class="container">
    <div class="row">

      <div class="col-md-5">
        <div class="wow fadeInLeft" data-wow-delay="0.2s">
          <div class="service-box">
            <div class="service-desc">
              <h5>Dove e Quando</h5>
              <p>
                Ci potrete trovare tutti i <b>mercoledì di giugno e luglio dalle
                20 alle 22</b> presso il <b>Bar La Nicchia</b> in Piazza Giovanni
                XXIII n. 8 Ala
              </p>
              <p>
                In alternativa potete consegnare i moduli e la quota di
                iscrizione a Thomas (tel. 349 0740102) bar entro e non oltre il 20 luglio 2018
              </p>
            </div>
          </div>
          <div class="service-box">
            <div class="service-desc">
              <h5>Modulistica</h5>
              <ul>
                <li><a href="https://drive.google.com/open?id=162pog397sgLWQDyi3kF6OVZahZC1fYnd">Modulo Iscrizione Calcio Splash</a></li>
                <li><a href="https://drive.google.com/open?id=1Bm8YEOPsqRlNwnJO6feq5kwddsejUkyr">Modulo Iscrizione Beach Volley</a></li>
                <li><a href="https://drive.google.com/open?id=0B4NApwrWog85ZlVCanpUMHhfem8">Modulo Tesseramento</a></li>

              </ul>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="wow fadeInLeft" data-wow-delay="0.2s">
        <div class="service-box">
          <div class="service-desc">
            <h5>Modalità</h5>
            <p>
              Ogni squadra dovrà consegnare il <strong>modulo di iscrizione al torneo</strong>,
              e,  (non obbligatoria) per ogni giocatore, il <strong>modulo di tesseramento</strong> all'Associazione Fuori Posto.
            </p>
            <p>
              La quota è di 10 euro per giocatore ed è comprensiva
              di iscrizione al torneo, assicurazione in caso di infortunio e
              tesseramento all'associazione Fuori Posto.
            </p>
            <p>
              La quota potrà essere consegnata direttamente al momento dell'iscrizione
              o versata tramite bonifico bancario alle seguenti coordinate:
              <br />
              Causale: Iscrizione squadra "nome squadra" torneo calcetto saponato
              Intestatario: Associazione Fuori Posto<br/>
              Cassa Rurale Vallagarina<br/>
              IBAN: IT61I0801134270000010031715<br/>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="wow fadeInLeft" data-wow-delay="0.2s">
        <div class="service-box">

        </div>
      </div>
    </div>
  </div>
</div>
</section>

{% endblock %}
