{% extends "base.html" %}

{% block header_menu_class_tournament %}active{% endblock %}

{% block header %}
<h2>Le Partite</h2>
{% endblock %}

{% block content %}
<section id="teams" class="page-head-section text-center">

    {% if match_list %}
        <div class="row">
            <div class="col-md-12">
                <table class="group-rank">
                    <tr>
                        <th>Orario</th>
                        <th>Girone</th>
                        <th>Squadra 1</th>
                        <th>Squadra 2</th>
                        <th>Risultato</th>
                    </tr>

                    {% for match in match_list %}
                        <tr>
                            <td>{{ match.match_date_time | date:" D d -  H:m" }}</td>
                            <td>{{ match.group.name }}</td>
                            <td><a href="{% url 'team-detail' match.team_a.id %}">{{ match.team_a.name }}</a></td>
                            <td><a href="{% url 'team-detail' match.team_b.id %}">{{ match.team_b.name }}</a></td>
                            <td>
                                {% if match.team_a_score is not None %}
                                    {{ match.team_a_score }} - {{ match.team_b_score }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    {% endif %}

</section>
{% endblock %}
