<div class="row" style="margin-bottom: 24px;">
    <div class="col-sm-4 col-xs-5">
        <div class="match-left">
            <div class="team-name">
                <h4>
                    {% if match.team_a %}
                        <a href="{% url 'team-detail' match.team_a.id %}">{{ match.team_a.name }}</a>
                    {% else %}
                        -
                    {% endif %}
                </h4>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-2">
        <div class="match-date">
            {% if is_beach %}
                <h2>{{ match.team_a_set_1|default_if_none:"" }} - {{ match.team_b_set_1|default_if_none:"" }}</h2>
                {% if group.is_final %}
                    <h2>{{ match.team_a_set_2|default_if_none:"" }}
                        - {{ match.team_b_set_2|default_if_none:"" }}</h2>
                    {% if match.team_a_set_3 != None and match.team_b_set_3 != None %}
                        <h2>{{ match.team_a_set_3|default_if_none:"" }}
                            - {{ match.team_b_set_3|default_if_none:"" }}</h2>
                    {% endif %}
                {% endif %}
                <b><a href="{% url 'beach-match-detail' match.id %}">{{ match.match_date_time|date:"D d - H:i" }}</a></b>
            {% else %}
                <h2>{{ match.team_a_score|default_if_none:"" }} - {{ match.team_b_score|default_if_none:"" }}</h2>
                <b><a href="{% url 'match-detail' match.id %}">{{ match.match_date_time|date:"D d - H:i" }}</a></b>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-4 col-xs-5">
        <div class="match-right">
            <div class="team-name">
                <h4>
                    {% if match.team_b %}
                        <a href="{% url 'team-detail' match.team_b.id %}">{{ match.team_b.name }}</a>
                    {% else %}
                        -
                    {% endif %}
                </h4>
            </div>

        </div>
    </div>
</div>
