{% extends "base.html" %}

{% block header_menu_class_tournament %}active{% endblock %}

{% block header_container %}
    <section id="match" class="page-head-section text-center">
        <div class="heading-about page-title-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2>{{ match.team_a.name }}</h2>
                                    </div>
                                    <div class="col-md-6">
                                        <h2>{{ match.team_b.name }}</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    {% if not is_beach %}
                                    <div class="col-xs-5">
                                        <h1>{{ match.team_a_score }}</h1>
                                    </div>
                                    <div class="col-xs-2"><h1>-</h1></div>
                                    <div class="col-xs-5">
                                        <h1>{{ match.team_b_score }}</h1>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="text-center">

        <div class="container">
            <div class="row">
                <h5>{{ match.match_date_time }}</h5>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% if is_beach %}
                    <div class="col-xs-5">
                        <h1>{{ match.team_a_set_1|default_if_none:"" }}</h1>
                    </div>
                    <div class="col-xs-2"><h1>-</h1></div>
                    <div class="col-xs-5">
                        <h1>{{ match.team_b_set_1|default_if_none:"" }}</h1>
                    </div>

                    {% if match.group.is_final %}
                        </div><div class="row">
                        <div class="col-xs-5">
                            <h1>{{ match.team_a_set_2|default_if_none:"" }}</h1>
                        </div>
                        <div class="col-xs-2"><h1>-</h1></div>
                        <div class="col-xs-5">
                            <h1>{{ match.team_b_set_2|default_if_none:"" }}</h1>
                        </div>

                        {% if match.team_a_set_3 != None and match.team_b_set_3 != None %}
                        </div><div class="row">
                        <div class="col-xs-5">
                            <h1>{{ match.team_a_set_3|default_if_none:"" }}</h1>
                        </div>
                        <div class="col-xs-2"><h1>-</h1></div>
                        <div class="col-xs-5">
                            <h1>{{ match.team_b_set_3|default_if_none:"" }}</h1>
                        </div>
                        {% endif %}
                    {% endif %}

                {% else %}
                    {% if match.goals %}
                        <div class="col-xs-6">
                            <ul class="team">
                                <li><h5>Marcatori</h5></li>
                                {% for goal in match.goals.all %}
                                    {% if goal.team.id == match.team_a.id %}
                                        <li>{{ goal.player.name }} {{ goal.player.surname }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="col-xs-6 text-center">
                            <ul class="team">
                                <li><h5>Marcatori</h5></li>
                                {% for goal in match.goals.all %}
                                    {% if goal.team.id == match.team_b.id %}
                                        <li>{{ goal.player.name }} {{ goal.player.surname }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
