{% extends "base.html" %}

{% block header_menu_class_info %}active{% endblock %}

{% block header %}
    <h2>Regolamento Beach Volley</h2>
{% endblock %}

{% block content %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>
                        Il torneo si disputerà nell’ambito della manifestazione CalciosplashAla nel campo di
                        beach volley presso il parco Bastie di Ala nelle giornate di 6 e 7 agosto 2022.
                    </p>
                    <p>
                        Con l’iscrizione i partecipanti dichiarano di accettare il presente regolamento
                        sollevando e liberando Associazione Fuoriposto di tutti i reclami o responsabilità di
                        ogni tipo derivanti dalla partecipazione alla manifestazione sportiva.
                    </p>
                    <p>
                        Con l’iscrizione i partecipanti concedono, altresì, l’autorizzazione all’ente sopra
                        elencato all’utilizzo di fotografie, nastri, video, immagini, per qualsiasi legittimo
                        utilizzo senza remunerazione e, infine, di acconsentire al trattamento dei dati
                        personali per l’invio di comunicazioni e/o materiale pubblicitario (i dati forniti
                        saranno trattati nel rispetto delle vigenti leggi sulla tutela della privacy).
                    </p>
                    <h5>Partecipazione</h5>
                    <ol class="regulation">
                        <li>
                            La partecipazione è rivolta a squadre, composte da atlete/i maggiorenni (nati dopo il 5
                            agosto 2004).
                        </li>
                        <li>
                            Le squadre dovranno essere composte da almeno 4 persone, con almeno 1 componente di sesso
                            diverso. (3 uomini e 1 donna o 3 donne e 1 uomo)
                        </li>
                        <li>
                            Oltre a questi potranno essere iscritti ulteriori 2 persone in qualità di riserve.
                        </li>
                        <li>
                            La lista definitiva dei giocatori va presentata all’atto di iscrizione e non sono permesse
                            aggiunte a torneo in corso.
                        </li>
                        <li>
                            Gli atleti componenti una squadra non potranno far parte di altre squadre della medesima
                            categoria di gioco. Ma potranno essere iscritti al torneo di calciosplash.
                        </li>
                        <li>
                            In caso di iscrizione ad entrambi i tornei (calciosplash e beach volley), l’associazione
                            organizzatrice non garantisce che gli orari delle partite non si sovrappongano. Sarà cura
                            del partecipante organizzarsi gli orari di gioco.
                        </li>
                    </ol>
                    <h5>Regole di gioco</h5>
                    <ol class="regulation">
                        <li>
                            In campo sono ammessi 4 giocatori con almeno 1 giocatore di sesso diverso. Nel caso in cui
                            una squadra non si presentasse per l’orario d’inizio, verrà attribuita la sconfitta a
                            tavolino.
                        </li>
                        <li>
                            La formula di gioco prevede una fase di qualificazione attraverso gironi a più squadre.
                        </li>
                        <li>
                            Ogni partita si gioca con la formula del set secco al 25esimo punto della durata massima di
                            20min.
                        </li>
                        <li>
                            Mentre le semifinali e le finali prevedono 2 set da 15 e 1 da 10.
                        </li>
                        <li>
                            Il torneo prevede una fase a gironi. Durante questa fase alla squadra vincitrice saranno
                            assegnati 3 punti e alla perdente 0 punti; in casi di pareggio a entrambe le squadre sarà
                            assegnato un punto.
                        </li>
                        <li>
                            Le altre regole sono proprie del gioco di Beach Volley.
                        </li>
                        <li>
                            Per ogni partita sarà disputato un singolo set. In caso di parità (24-24) la partita verrà
                            considerata “pareggio”.
                        </li>
                    </ol>
                    <p>
                        Per tutta la durata della manifestazione saranno in funzione stand enogastronomici
                        e vi sarà la possibilità di fruire dei servizi igienici. Vi sarà anche la possibilità di
                        usufruire di spogliatoi, bagni e docce.
                    </p>
                    <p>
                        In caso di eventi meteorologici straordinari che impedissero il sicuro svolgimento del
                        torneo, lo staff si riserva la possibilità di annullare la manifestazione.
                    </p>
                    <p>
                        Gli organizzatori declinano ogni responsabilità durante la manifestazione in caso di
                        danni a cose o persone, di smarrimento o furto degli oggetti lasciati incustoditi.
                    </p>

                    <h5>Iscrizioni</h5>
                    <p>
                        Le iscrizioni apriranno il giorno 20 giugno e si concluderanno il giorno 26 Luglio o al
                        raggiungimento di 8 squadre. Oltre tale data sarà possibile iscriversi previo accordo
                        con l’organizzazione.
                    </p>
                    <p>
                        L’iscrizione comprende la tessera associativa e l’assicurazione.
                    </p>
                    <p>
                        Il modulo di iscrizione può essere scaricato sul sito: http://www.calciosplashala.it e
                        inviato a associazionefuoriposto@gmail.com oppure consegnato a mano.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-xs-12">
                            <h5>L'ingresso in campo si svolge</h5>
                            <ul class="regulation">
                                <li>a piedi nudi</li>
                                <li>con divisa uniforme.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <hr class="marginbot-50">
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <h5>NON È CONSENTITO L’INGRESSO IN CAMPO:</h5>
                            <ul class="regulation">
                                <li>
                                    con bracciali, catenine, orecchini, occhiali, fasciature che
                                    interessino la pianta del piede, pearcing; nel caso in cui non sia
                                    possibile toglierli è obbligatorio applicarvi dello scotch;
                                </li>
                                <li>
                                    sotto effetto di sostanze alcoliche e/o stupefacenti; sarà facoltà
                                    dell’arbitro e dello staff impedire l’ingresso in campo a chi
                                    presentasse alterazioni;
                                </li>
                                <li>
                                    con l’uso di protezioni rigide (parastinchi, tutori rigidi, ecc.) o
                                    con abbigliamento che potrebbe rovinare il campo (jeans, pantaloncini
                                    con cerniera, ecc.).
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
