{% extends "base.html" %}

{% block header_menu_class_info %}active{% endblock %}

{% block header %}
    <h2>Regolamento Beach Volley</h2>
{% endblock %}

{% block content %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>
                        Il torneo si disputerà nell’ambito della manifestazione CalciosplashAla nel campo di
                        beach volley presso il parco Bastie di Ala nelle giornate di 6 e 7 agosto 2022.
                    </p>
                    <p>
                        Con l’iscrizione i partecipanti dichiarano di accettare il presente regolamento
                        sollevando e liberando Associazione Fuoriposto di tutti i reclami o responsabilità di
                        ogni tipo derivanti dalla partecipazione alla manifestazione sportiva.
                    </p>
                    <p>
                        Con l’iscrizione i partecipanti concedono, altresì, l’autorizzazione all’ente sopra
                        elencato all’utilizzo di fotografie, nastri, video, immagini, per qualsiasi legittimo
                        utilizzo senza remunerazione e, infine, di acconsentire al trattamento dei dati
                        personali per l’invio di comunicazioni e/o materiale pubblicitario (i dati forniti
                        saranno trattati nel rispetto delle vigenti leggi sulla tutela della privacy).
                    </p>
                    <h5>Partecipazione</h5>
                    <ol class="regulation">
                        <li>
                            La partecipazione è rivolta a squadre, composte da atlete/i maggiorenni (nati dopo il 5
                            agosto 2004).
                        </li>
                        <li>
                            Le squadre dovranno essere composte da almeno 4 persone, con almeno 1 componente di sesso
                            diverso. (3 uomini e 1 donna o 3 donne e 1 uomo)
                        </li>
                        <li>
                            Oltre a questi potranno essere iscritti ulteriori 2 persone in qualità di riserve.
                        </li>
                        <li>
                            La lista definitiva dei giocatori va presentata all’atto di iscrizione e non sono permesse
                            aggiunte a torneo in corso.
                        </li>
                        <li>
                            Gli atleti componenti una squadra non potranno far parte di altre squadre della medesima
                            categoria di gioco. Ma potranno essere iscritti al torneo di calciosplash.
                        </li>
                        <li>
                            In caso di iscrizione ad entrambi i tornei (calciosplash e beach volley), l’associazione
                            organizzatrice non garantisce che gli orari delle partite non si sovrappongano. Sarà cura
                            del partecipante organizzarsi gli orari di gioco.
                        </li>
                    </ol>
                    <h5>Regole di gioco</h5>
                    <ol class="regulation">
                        <li>
                            In campo sono ammessi 4 giocatori con almeno 1 giocatore di sesso diverso. Nel caso in cui
                            una squadra non si presentasse per l’orario d’inizio, verrà attribuita la sconfitta a
                            tavolino.
                        </li>
                        <li>
                            La formula di gioco prevede una fase di qualificazione attraverso gironi a più squadre,
                            ed una fase ad eliminazione diretta (semifinali e finali).
                        </li>
                        <li>
                            Ogni partita della fase dei gironi si gioca con la formula del set secco al 25esimo punto
                            della durata massima di 20min; in caso di parità (24-24) la partita verrà considerata
                            “pareggio”. Durante questa fase alla squadra vincitrice saranno assegnati 3 punti e alla
                            perdente 0 punti; in caso di pareggio a entrambe le squadre sarà assegnato un punto.
                        </li>
                        <li>
                            Ogni partita della fase ad eliminazione diretta (semifinali e finali) si gioca al meglio
                            di tre set: due set da 15 ed un eventuale terzo set da 10. In caso di parità (14-14 per i
                            primi due set, o 9-9 per il terzo set) il set continuerà con la regola dei vantaggi.
                        </li>
                        <li>
                            Le altre regole sono proprie del gioco di Beach Volley.
                        </li>
                    </ol>
                    <p>
                        Per tutta la durata della manifestazione saranno in funzione stand enogastronomici
                        e vi sarà la possibilità di fruire dei servizi igienici. Vi sarà anche la possibilità di
                        usufruire di spogliatoi, bagni e docce.
                    </p>
                    <p>
                        In caso di eventi meteorologici straordinari che impedissero il sicuro svolgimento del
                        torneo, lo staff si riserva la possibilità di annullare la manifestazione.
                    </p>
                    <p>
                        Gli organizzatori declinano ogni responsabilità durante la manifestazione in caso di
                        danni a cose o persone, di smarrimento o furto degli oggetti lasciati incustoditi.
                    </p>


                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-xs-12">
                            <h5>Iscrizioni</h5>
                            <p>
                                Le iscrizioni apriranno il giorno 20 giugno e si concluderanno il giorno 26 Luglio o al
                                raggiungimento di 8 squadre. Oltre tale data sarà possibile iscriversi previo accordo
                                con l’organizzazione.
                            </p>
                            <p>
                                L’iscrizione comprende la tessera associativa e l’assicurazione.
                            </p>
                            <p>
                                Il modulo di iscrizione può essere <a href="/iscrizioni/">scaricato sul sito</a> e
                                inviato a <a href="mailto:associazionefuoriposto@gmail.com">associazionefuoriposto@gmail.com</a>
                                oppure consegnato a mano.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
