{% extends "base.html" %}

{% block header_menu_class_info %}active{% endblock %}

{% block header %}
<h2>Regolamento</h2>
{% endblock %}

{% block content %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ol class="regulation">
          <li>L’unico requisito necessario per potersi iscrivere al torneo, maschile e femminile, è <strong>essere nati/e prima del 01/08/2007</strong>.</li>
          <li>In campo sono ammessi 4 giocatori, portiere compreso. Nel caso in cui una squadra non si presentasse per l’orario d’inizio, verrà attribuita la sconfitta a tavolino per 5-0.</li>
          <li>Le partite dei gironi e degli ottavi si articolano su <strong>2 tempi da 7 minuti ciascuno</strong>.</li>
          <li>A partire dai quarti di finale, i tempi saranno di <strong>8 minuti</strong>;</li>
          <li>Le due finalissime, maschile e femminile, saranno composte da due tempi da <strong>10 minuti</strong> ciascuno.</li>
          <li>Lo staff si riserva di accorciare alcuni incontri nel caso in cui eventi atmosferici eccezionali compromettano il calendario.</li>
          <li>Nella fase a gironi del torneo, alla squadra vincitrice saranno assegnati 3 punti e alla perdente 0 punti; in caso di pareggio a entrambe le squadre sarà assegnato 1 punto. In caso di parità di classifica al termine della prima fase, stabiliranno la classifica avulsa le seguenti voci (rigorosamente in ordine): scontri diretti, differenza reti scontri diretti, gol fatti scontri diretti, differenza reti totale, gol fatti totali; in caso di ulteriore parità, si procederà al sorteggio.</li>
          <li>I cambi sono volanti e in numero illimitato.</li>
          <li>Le rimesse laterali si battono con i piedi dal punto in cui è uscita la palla; la stessa deve essere ferma.</li>
          <li>Il gol è valido anche se il tiro è partito dalla metà campo opposta.</li>
          <li>Il portiere, all’interno della propria area, può sempre prendere la palla con le mani, <u>anche su retro passaggio</u>, non gli è però concesso di alzarsi la palla con le mani e tirare al volo; inoltre una volta che ha preso la palla in mano, si tratti di parata o rimessa, dovrà effettuare il rinvio in uno dei due modi indicati al punto 9.</li>
          <li>Il portiere può effettuare il rinvio in due modi: con le mani o <u>con la testa</u>. Nel caso di rinvio con le mani, il pallone deve rimbalzare per terra, sui bordi laterali, o essere toccato da qualcuno prima di superare la metà campo; in caso di rinvio con la testa, la palla può superare la metà campo senza nessuna restrizione.</li>
          <li>In caso di fallo in area sarà assegnato uno shoot-out: il pallone va posizionato al centro del campo; dal momento in cui la palla viene toccata, si hanno a disposizione 4 secondi per tirare. Il portiere non può uscire dall’area.</li>
          <li>Le acrobazie (rovesciate, tuffi, ecc.) sono consentite solo nel caso che <u>non comportino pericoli per se e per gli altri</u>.</li>
          <li>Le <u><strong>entrate in scivolata volontarie in direzione di un avversario</strong></u> sono sempre valutate come fallo.</li>
          <li>Le proteste rivolte all’arbitro saranno punite con l’ammonizione. Il gioco violento sarà punito con <u>1 minuto di espulsione</u>. La seconda ammonizione nel corso della stessa partita costerà <u>1 minuto di espulsione</u>. Chi riceve 2 <u>ammonizioni</u> in altrettante partite, dovrà saltare i primi <u>3 minuti</u> della partita successiva. <u><strong>Bestemmie e insulti</strong></u> rivolti all’arbitro o agli avversari saranno puniti con <u>2 minuti di espulsione</u>.</li>
          <li>Chi ricevesse la seconda espulsione nel corso della stessa partita non potrà più rientrare in campo nel corso della stessa, e sarà squalificato la partita successiva; anche i giocatori in panchina, in caso di proteste, bestemmie o comportamenti scorretti, possono essere ammoniti ed espulsi; in caso di espulsione, uno dei compagni in campo dovrà uscire per scontare l’inferiorità numerica.</li>
          <li>La lista <u>definitiva</u> dei giocatori va presentata all’atto di iscrizione (non sono permesse aggiunte a torneo in corso).</li>
          <li>Qualora sopraggiungano problemi è consentito giocare con un minimo di 3 giocatori.</li>
          <li>Le altre regole in vigore sono quelle del giuoco del calcio.</li>
          <li>In caso di eventi meteorologici straordinari che impedissero il sicuro svolgimento del torneo, lo staff si riserva la possibilità di annullare la manifestazione.</li>
          <li>Gli organizzatori declinano ogni responsabilità durante la manifestazione in caso di danni a cose o persone, di smarrimento o furto degli oggetti lasciati incustoditi.</li>
      </ol>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-xs-12">
            <h5>L'ingresso in campo si svolge</h5>
            <ul class="regulation">
              <li>a piedi nudi </li>
              <li>con divisa uniforme.</li>
            </ul>
          </div>
        </div>

        <hr class="marginbot-50">

        <div class="row">
          <div class="col-xs-12">
            <h5>NON È CONSENTITO L’INGRESSO IN CAMPO:</h5>
            <ul class="regulation">
              <li>con bracciali, catenine, orecchini, occhiali, <u>fasciature che interessino la pianta del piede</u>, piercing; nel caso in cui non sia possibile toglierli è obbligatorio applicarvi dello scotch;</li>
              <li>sotto effetto di sostanze alcoliche e/o stupefacenti; <strong>sarà facoltà dell’arbitro e dello staff impedire l’ingresso in campo a chi presentasse alterazioni</strong>;</li>
              <li>con l’uso di protezioni rigide (parastinchi, tutori rigidi, ecc.) o con abbigliamento che potrebbe rovinare il campo (jeans, pantaloncini con cerniera, ecc.).</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}
