{% extends "base.html" %}
{% load filters %}

{% block header_menu_class_teams %}active{% endblock %}

{% block header %}
<h2>{{ team.name }}</h2>
{% endblock %}

{% block content %}
<section id="teams" class="page-head-section text-center">

  <div class="container">
    <div class="row">
    {% if players %}
    {% for player in players %}
      <div class="col-md-3">
        <div class="wow bounceInUp" data-wow-delay="{{ 0.1|multiply:forloop.counter }}s">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>{{ player.name }} {{ player.surname }}</h5>
              <p class="subtitle">{{ player.role }}</p>
              {% if player.goals.all|length > 0 %}
              <p>Goal segnati {{ player.goals.all|length }}</p>
              {% endif %}
            </div>
          </div>
        </div>
        <br />
      </div>
    {% endfor %}
    {% else %}
      <div>Nessun giocatore in questa squadra </div>
    {% endif %}
    </div>

    <div class="row">
      {% if matches %}
      {% for match in matches %}
      <div class="white-match">
        <div class="col-sm-4 col-xs-5">
            <div class="match-left">
                <!-- <div class="team-img hidden-xs">
                    <a href="#"><img src="images/fixture-team1.png" width="80" height="77" alt=""></a>
                </div> -->
                <div class="team-name">
                    <h5><a href="{% url 'team-detail' match.team_a.id %}">{{ match.team_a.name }}</a></h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-2">
            <div class="match-date">
                {% if match.start_time %}
                <h2>{{ match.team_a_score }} - {{ match.team_b_score }}</h2>
                {% endif %}
                <b><a href="{% url 'match-detail' match.id %}">{{ match.match_date_time|date:"d/m  H:i" }}</a></b>
                <!-- <p>Parco Bastie</p> -->

            </div>
        </div>
        <div class="col-sm-4 col-xs-5">
            <div class="match-right">
              <!-- <div class="team-img hidden-xs">
                  <a href="#"><img src="images/fixture-team2.png" width="64" height="84" alt=""></a>
              </div> -->
                <div class="team-name">
                    <h5><a href="{% url 'team-detail' match.team_b.id %}">{{ match.team_b.name }}</a></h5>
                </div>

            </div>
        </div>
      </div>

      {% endfor %}
      {% endif %}
    </div>
    <!-- /GROUP MATCHES -->

  </div>
</section>
{% endblock %}
