{% extends "base.html" %}
{% load filters %}

{% block header_menu_class_teams %}active{% endblock %}

{% block header %}
  <h2>{{ team.name }}</h2>
  <h3>anno <u>{{ team.year }}</u></h3>
{% endblock %}

{% block content %}
<section id="teams" class="page-head-section text-center">

  <div class="container">
    <div class="row">
    {% if players %}
    {% for player in players %}
      <div class="col-md-3">
        <div class="wow bounceInUp" data-wow-delay="{{ 0.1|multiply:forloop.counter }}s">
          <div class="team boxed-grey">
            <div class="inner">
              <h5>{{ player.name }} {{ player.surname }}</h5>
              <p class="subtitle">{{ player.role }}</p>
            </div>
          </div>
        </div>
        <br />
      </div>
    {% endfor %}
    {% else %}
      <div>Nessun giocatore in questa squadra </div>
    {% endif %}
    </div>

    <div class="row">
      {% if matches %}
      {% for match in matches %}
      <div class="white-match">
        {% include 'match_template.html' with match=match is_beach=False %}
      </div>

      {% endfor %}
    </div>
    {% endif %}

      <!-- END TEAM MATCHES -->
      {% if beach_matches %}

          <div class="row">
              {% for match in beach_matches %}
                  <div class="white-match">
                      {% include 'match_template.html' with match=match is_beach=True %}
                  </div>
              {% endfor %}
          </div>
      {% endif %}


  </div>
</section>
{% endblock %}
