{% extends "base.html" %}

{% block header_menu_class_tournament %}active{% endblock %}

{% block header %}
<h2>Torneo {{ tournament.name }}</h2>
<h5>edizione {{ tournament.edition_year }}</h5>
{% endblock %}


{% block content %}
<section id="teams" class="page-head-section text-center">

  <div class="row">
    <div class="col-lg-2 col-lg-offset-5">
      <hr class="marginbot-50">
    </div>
  </div>

  <div class="container">
    {% if tournament.groups %}
    {% for group in tournament.groups_clean %}
    <div class="row">
      <div class="col-md-12">
        <h3>Girone: <a href="{% url 'group-detail' group.id %}">{{ group.name }}</a></h3>
      </div>
    </div>

    <!-- GROUP CLASSIFICA -->
    {% if not group.is_final %}
    <div class="row">
      <div class="col-md-12">
        <table class="group-rank">
          <tr>
            <th>&nbsp;</th>
            <th>Punti</th>
            {% if not group.is_beach %}
            <th>Goal fatti</th>
            <th>Goal subiti</th>
            <th>Diff reti</th>
            {% endif %}
          </tr>
          {% for team_name, team in group.teams.items %}
          <tr>
            <td>{{team.name}}</td>
            <td>{{team.points}}</td>
            {% if not group.is_beach %}
            <td>{{team.goals_done}}</td>
            <td>{{team.goals_taken}}</td>
            <td>{{team.goals_diff}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <!-- /GROUP CLASSIFICA -->

    {% else %}
    <div class="row">
      <div class="col-md-12">
        <table class="group-rank">
          <tr>
            <th colspan="2">Partita</th>
            <th colspan="2">Risultato</th>
          </tr>
          {% for match in group.group_matches %}
              <tr>
                  <td>{{ match.team_a.name }}</td>
                  <td>{{ match.team_b.name }}</td>

                  {% if group.is_beach %}
                      <td colspan="2">
                          {{ match.team_a_set_1 }} - {{ match.team_b_set_1 }} /
                          {{  match.team_a_set_2 }} - {{  match.team_b_set_2 }} /
                          {{ match.team_a_set_3 }} - {{ match.team_b_set_3 }}
                      </td>
                  {% else %}
                      <td>{{ match.team_a_score }}</td>
                      <td>{{ match.team_b_score }}</td>
                  {% endif %}
              </tr>
          {% endfor %}
        </table>
      </div>
    </div>


    {% endif %}

    {% endfor %}
    {% else %}
    <p>Nessun girone in questo torneo</p>
    {% endif %}
  </div>


</section>
{% endblock %}
