{% extends "base.html" %}
{% load static %}

{% block header %}
<h2>Wooops...</h2>
{% endblock %}

{% block content %}

  <div class="container">
    <div class="white-match">
      <div class="col-md-offset-4 col-sm-4">
          <div class="match-left">
              <img src="{% static "img/500.png" %}" width="100%" />
              <p class="text-center">
                  &Egrave; successo qualcosa di inaspettato!<br/>
                  Ci stiamo lavorando, riprova tra un momento.
              </p>
          </div>
      </div>
    </div>
  </div>

{% endblock %}
